# Tool and hot key configuration for Gromit-MPX.
#
# See https://github.com/bk138/gromit-mpx/blob/master/README.md#configuration
# for what you can configure here and how the syntax looks like.
#
# ❗ Once done editing, you have to manually restart Gromit-MPX to apply the
# made changes.
#
# Note that there is https://github.com/bk138/gromit-mpx/issues/110 which will
# eventually replace this with a proper UI.
# 

# 
# Tool definitions.
#

"red Pen" = PEN (size=5 color="red");				
"blue Pen" = "red Pen" (color="blue");				
"yellow Pen" = "red Pen" (color="yellow");		
"pink Pen"   = "red Pen" (color="deeppink");
"lime Pen"   = "red Pen" (color="lime");
"turquoise Pen"   = "red Pen" (color="turquoise");
"orange Pen"   = "red Pen" (color="orangered");
"cyan Pen"   = "red Pen" (color="cyan");

"green Marker" = PEN (size=6 color="green" arrowsize=1.5);		
									
"Eraser" = ERASER (size = 75);					

"turquoise Line" = LINE (color="turquoise");
"red Line" = LINE (color="red");
"orange Line" = LINE (color="orangered");
"pink Line" = LINE (color="pink");
"yellow Line" = LINE (color="yellow");
"blue Line" = LINE (color="blue");
"green Line" = LINE (color="green");

"red Rectangle" = RECT (color="red");

# Note: For transparency, use the rgba() format (values from 0.0 to 1.0 for alpha).
# The hex format with alpha (#RRGGBBAA) is not supported.

"red Marker"    = "green Marker" (color="red");
"blue Marker"   = "green Marker" (color="blue");
"pink Marker"   = "green Marker" (color="deeppink");
"lime Marker"   = "green Marker" (color="lime");
"turquoise Marker"   = "green Marker" (color="turquoise");
"orange Marker"   = "green Marker" (color="orangered");
"cyan Marker"   = "green Marker" (color="cyan");

#
# Tool mappings to input devices. Not all tools are mapped in this config.
#

"default" = "red Pen";						
"default"[SHIFT] = "turquoise Pen";					
"default"[CONTROL] = "yellow Pen";				
"default"[ALT] = "red Rectangle";
"default"[ALT,SHIFT] = "lime Pen";
"default"[SHIFT,CONTROL] = "pink Pen";
"default"[CONTROL,ALT] = "orange Pen";
"default"[CONTROL,ALT,SHIFT] = "blue Pen";
"default"[2] = "orange Marker";	               # Middle
"default"[SHIFT,Button2] = "lime Marker";      # Shift + Middle
"default"[CONTROL,Button2] = "red Marker";     # Ctrl + Middle
"default"[ALT,Button2] = "turquoise Marker";        # Alt + Middle
"default"[ALT,SHIFT,Button2] = "blue Marker";  # Alt + Shift + Middle
"default"[CONTROL,SHIFT,Button2] = "pink Marker";  # Ctrl + Shift + Middle
"default"[CONTROL,ALT,Button2] = "green Marker";  # Ctrl + Alt + Middle
"default"[CONTROL,ALT,SHIFT,Button2] = "cyan Marker";
"default"[Button3] = "Eraser";					
"default"[SHIFT,Button3] = "turquoise Line";      # Shift + Middle
"default"[CONTROL,Button3] = "red Line";     # Ctrl + Middle
"default"[ALT,Button3] = "orange Line";        # Alt + Middle
"default"[ALT,SHIFT,Button3] = "pink Line";  # Alt + Shift + Middle
"default"[CONTROL,SHIFT,Button3] = "yellow Line";  # Ctrl + Shift + Middle
"default"[CONTROL,ALT,Button3] = "blue Line";  # Ctrl + Alt + Middle
"default"[CONTROL,ALT,SHIFT,Button3] = "green Line";

#
# Hot key / undo key.
# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
#

# HOTKEY = "F9";
# UNDOKEY = "F8";
